<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ordine</title>
</head>
<body>
<table id="m_2078067417543999581OutlookWrapper" style="width:100%;border-collapse:collapse!important;text-align:left">
    <tbody>
    <tr>
        <td align="center" style="border-collapse:collapse!important;font-family:Arial,sans-serif">
            <table id="m_2078067417543999581EmailWrapper"
                   style="width:100%!important;border-collapse:collapse!important;text-align:left" dir="ltr">
                <tbody>
                <tr>
                    <td align="center" style="border-collapse:collapse!important;font-family:Arial,sans-serif">
                        <table class="m_2078067417543999581emailBody"
                               style="width:375px;background-color:rgb(250,250,250);border-collapse:collapse!important;text-align:left">
                            <tbody>
                            <tr>
                                <td class="m_2078067417543999581emailBodyTD"
                                    style="padding-left:17px;padding-right:18px;padding-top:23px;padding-bottom:21px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                    <table class="m_2078067417543999581brandTable"
                                           style="margin-bottom:20px;width:100%;min-width:338px;border-collapse:collapse!important;text-align:left">
                                        <tbody>
                                        <tr>
                                            <td align="center"
                                                style="border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                <img src="cid:logo@calolenoci"
                                                     class="m_2078067417543999581brandImage CToWUd" border="0"
                                                     width="300" style="width:300px" data-bit="iit">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </a>
                                    <table class="m_2078067417543999581emailContainer"
                                           style="background-color:rgb(255,255,255);border-left:1px solid rgb(214,214,214);border-right:1px solid rgb(214,214,214);border-bottom:1px solid rgb(214,214,214);border-top:2px solid rgb(206,206,206);border-collapse:collapse!important;text-align:left">
                                        <tbody>
                                        <tr>
                                            <td class="m_2078067417543999581emailContainerTD"
                                                style="padding-left:23px;padding-right:23px;padding-top:25px;padding-bottom:33px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                <table class="m_2078067417543999581informationTable"
                                                       style="font-size:18px;line-height:24px;color:rgb(0,46,54);border-collapse:collapse!important;text-align:left">
                                                    <tbody>
                                                    <tr>
                                                        <td style="border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            <span>Buongiorno da Calo Lenoci Francescl Trading srl ({venditore}),</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:18px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            <span>in allegato trova l'ordine confermato. </span></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding-bottom:18px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            <span>Cordiali saluti </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                                <table class="m_2078067417543999581trackPackageButtonContainer"
                                                       style="border-collapse:collapse!important;text-align:left">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_2078067417543999581paddingT10"
                                                            style="padding-top:10px!important;border-collapse:collapse!important;font-family:Arial,sans-serif"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="m_2078067417543999581paddingT20"
                                                            style="padding-top:20px!important;border-collapse:collapse!important;font-family:Arial,sans-serif"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="m_2078067417543999581orderIdTable"
                                                       style="font-size:15px;line-height:18px;color:rgb(135,149,150);margin-bottom:18px;border-collapse:collapse!important;text-align:left">
                                                    <tbody>
                                                    <tr>
                                                        <td style="border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            <span style="text-decoration:none;color:rgb(135,149,150)">
                                                              Ordine n. {anno}/{serie}/{progressivo}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="m_2078067417543999581separatorLine" border="0"
                                                       width="100%" cellpadding="0" cellspacing="0"
                                                       style="border-left:0;border-right:0;border-top:0;border-bottom:0;margin-bottom:18px;margin-top:12px;border-collapse:collapse!important;text-align:left">
                                                    <tbody>
                                                    <tr>
                                                        <td class="m_2078067417543999581separatorLeft"
                                                            style="width:5px;font-size:1px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            &nbsp;
                                                        </td>
                                                        <td class="m_2078067417543999581separatorMiddle"
                                                            style="width:284px;min-width:284px;background:none;border-top:0px;border-right:0px;border-left:0px;border-bottom:1px solid rgb(135,149,150);height:1px;margin:0px 0px 0px 0px;font-size:1px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            &nbsp;
                                                        </td>
                                                        <td class="m_2078067417543999581separatorRight"
                                                            style="width:5px;font-size:1px;border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="m_2078067417543999581emailClosing"
                                                       style="font-size:9px;line-height:15px;color:rgb(134,134,134);border-collapse:collapse!important;text-align:left">
                                                    <tbody>
                                                    <tr>
                                                        <td style="border-collapse:collapse!important;font-family:Arial,sans-serif">
                                                            <span class="m_2078067417543999581emailClosing"
                                                                  style="font-size:9px;line-height:15px;color:rgb(134,134,134)">Questa è un'e-mail generata automaticamente e non avremo la possibilità di leggere eventuali e-mail di risposta. Non rispondere a questo messaggio.</span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>



